<div class="card">
    <div class="card-header">
        <h4>
            @ViewBag.Data
        </h4>
    </div>
    <div class="card-body">
        <h5>
            @ViewBag.Say
        </h5>
    </div>
    <div class="card-footer">

    </div>
</div>

