@model HomeDetailsViewModel

@{
    ViewBag.Title = "Customer Details";
}

<h3>
    @Model.PageTitle
</h3>
<hr />
<div>
    Name : @Model.Customer.Name
</div>
<div>
    Email : @Model.Customer.Email
</div>
<div>
    Agent Name : @Model.Customer.Agent
</div>


@section Scripts{
    <script src="~/js/site.js"></script>
}