@model IEnumerable<Customer>
@{
    ViewBag.Title = "List Of Customers";
}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Agent</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>
                    @customer.ID
                </td>
                <td>
                    @customer.Name
                </td>
                <td>
                    @customer.Email
                </td>
                <td>
                    @customer.Agent
                </td>
            </tr>
        }
    </tbody>
</table>
